* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.taskInputContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.taskInput {
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.taskBtn {
  background-color: rgb(72, 72, 248);
  padding: 10px 10px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.taskItem {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  cursor: pointer;
}

.deleteBtn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
  text-align: center;
}